<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dimanolog.by.testappbalinasoft">

    <application
        android:category="dimanolog.by.testappbalinasoft.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:category=".MainActivity">
            <intent-filter>
                <action android:category="android.intent.action.MAIN"/>

                <categoryId android:category="android.intent.categoryId.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>